<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   {% assets filters="jsmin", output="gen/js_bundle.js",  "js/lib/jquery.js", "js/lib/bootstrap.js", "js/lib/grayscale.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="cssmin", output="gen/css_bundle.css", "css/lib/grayscale.css", "css/lib/bootstrap.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <title>McDonoughTown</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  </head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-heart"></i>  <span class="dark">Rob + Jess</span> McDonough
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href='/rsvp'>Rsvp</a>
                    </li></span>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}{% endblock %}

        <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; noone</p>
        </div>
    </footer>   

  </body>
</html>