{% extends "base.html" %}
{% block content %}

<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                        <h1 class="brand-heading">Welcome to McDonough Town</h1>
                        <p>we're gettin hitched at the courthouse (but) you should totally come to our party!
                        </p>
                        <a href="#huh" class="btn page-scroll">
                            <i class="fa fa-chevron-circle-down fa-5x"></i>
                        </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Huh Section -->
    <header class="intro2">
        <div class="intro-body2" section id="huh">
                <div class="container-fluid">
                        <h1> What the heck?!</h1>
                        <img src="/static/img/jess_surprised.jpg" alt="Card image">
                        <br>
                        <p>Sorry if you had your heart set on spending another precious Portland summer afternoon in a church, but unfortunately the whole big wedding thing doesn't suit us. So, we're just throwing a party instead!</p>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                              <h2>What</h2>
                                  <p>shindig</p>
                            </div>
                            <div class="col-xs-12">
                                <h2>What(2)</h2>
                                <p>food + drinks + entertainment + nice people<p>
                            </div>
                            <div class="col-xs-12">
                                <h2>Where</h2>
                                <p>our backyard, pdx</p>
                            </div>
                             <div class="col-xs-12">
                                <h2>When</h2>
                                <p>july 30th 2016</p>
                            </div>
                            <div class="col-xs-12">
                                <h2>aesthetic</h2>
                                <p>showered, semiformal (but if you wanna go for it, go for it)</p>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <h2>Thanks, but no thanks:</h2>
                                <p><p>PETS<br>CHILDREN<br>VUVUZELAS</p>
                          </div>
                        </div>
                            <h2>Sound ok?</h2>
                                <a href='/rsvp'><button type="button" class="btn btn-danger">
                                  rsvp!
                                </button></a><br><br>
                </div>
            <img src="/static/img/selfie.jpg" alt="Card image">
      </div>
  </header>

{% endblock %}
