<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   {% assets filters="jsmin", output="gen/js_bundle.js", "js/lib/bootstrap.js", "js/lib/grayscale.js", "js/lib/jquery.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="cssmin", output="gen/css_bundle.css", "css/lib/grayscale.css", "css/lib/bootstrap.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <title>McDonoughTown</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  </head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-heart"></i>  <span class="dark">McDonough</span> Town
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#huh"><span class="dark">Wait, what. Huh?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href='#rsvp'>Rsvp</a>
                    </li></span>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                        <h1 class="brand-heading">We're Gettin Hitched</h1>
                        <p>But: We already got married at the courthouse!
                        </p>
                        <a href="#huh" class="btn page-scroll">
                            <i class="fa fa-chevron-circle-down fa-5x"></i>
                        </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Huh Section -->
    <header class="intro2">
        <div class="intro-body2" section id="huh">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="card-block">
                        <h1 class="card-text">What the heck?!</h1>
                    </div>
                        <img src="/static/img/jess_surprised.jpg" alt="Card image">
                    <div class="card-block">
                        <p class="card-text"><br>We're sorry if you had your heart set on spending another precious summer Portland afternoon in a church. But, the whole big wedding thing really isn't our thing. So, we decided to just have the fun part.<br><br></p>
                        <ul class="media-list">
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">What</h2>
                              <p>shindig</p>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">What(2)</h2>
                              <p>food + drinks + entertainment + nice people</p>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">Where</h2>
                              <p>our backyard</p>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">Appearence</h2>
                              <p>showered, semiformal</p>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">When</h2>
                              <p>july 30th, 2016</p>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">Thanks, but no thanks:</h2>
                              <p>PETS<br>CHILDREN (zero kids, like no exceptions)<br>VUVUZELAS</p>
                          <li class="media">
                            <a class="media-center"></a>
                            <div class="media-body">
                              <h2 class="media-heading">Sound ok?</h2>
                              <p><a href='#rsvp'>please rsvp below!</a></p>


                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- RSVP AREA -->
    


    </header>
    
        <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; JK</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    
  </body>
</html>
