{% extends "base.html" %}
{% block content %}

<header class="intro2">
<div class="jumbotron">
  <h1>You're all RSVP(EED)!</h1>
  <div class="row">
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="/static/img/thesun.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="/static/img/thesun.jpg">
    </a>
  </div>
</div>

  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-success" role="alert"> {{ message }} <br>
                        {% endfor %}
                  {% endif %}
  {% endwith %}
  <p>Thanks for planning ahead! Just look at how excited we are to see you :) We'll keep you updated via email w/ any additional details about the party</p>
</div>
</header>

{% endblock %}